.LandingPageSearchBoxRow {
    padding-top: 31vh;
  }
  
  .LandingPageSearchBoxCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  
  .LandingPageSearchBoxCard {
    padding: 20px;
  }

  .SearchBoxDietButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .SearchBoxDietButton {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  white;
    color: var(--ion-color-primary);
    font-weight: bold;
    height: 5%;
    box-sizing: border-box;
    padding: 5px 20px;
  }

  .SearchBoxDietButton:hover {
    cursor: pointer;
  }


  .SearchBoxDietButtonAvatar {
    flex-grow: 8;
    margin-bottom: 5px;
  }

  .SearchBoxDietButtonText {
    flex-grow: 2;
  }

  @media (max-width: 767px) {
    .LandingPageSearchBoxRow {
      padding-top: 0vh;
      height: auto;
    }
  
    .LandingPageSearchBoxCard {
      padding: 0px;
    }
  }