.Test {
  display: flex;
  flex-direction: column;
}

.LandingPageSearchBoxRow {
  padding-top: 31vh;
}

.LandingPageSearchBoxCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SearchBoxDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  min-width: 90%;
}

.SearchBoxDividers {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.Divider {
  transform: rotate(90deg);
  position: absolute;
  transform-origin: 15px 15px;
  padding: 8px 12px;
  border-radius: 10px 10px 0px 0px;
  
}

.Divider1 {
  border: solid black 0.5px ;
  border-bottom: none;
  background-color: white;
}

.Divider2 {
  top: 70px;
  background-color: red;
}

.Divider3 {
  top: 148px;
  background-color: greenyellow;
}

@media (max-width: 767px) {
  .LandingPageSearchBoxRow {
    padding-top: 0vh;
    height: auto;
  }
}
